.back {
    display: flex;
    margin-top: 60px;
    margin-left: 30px;
    flex-wrap: wrap;
  
  }
  .word-back {
    position: relative;
    top: -18px;
    left: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    margin-left: 3px;
    color: #8692A6;
    cursor: pointer;   
  }

  .icon{
    font-size: 10px;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    color: #8692A6;
  }
  .link-back{
    text-decoration: none;
  }