.text-quote {
    line-height: 30px;
    margin-top: 300px;
    width: 460px;
    height: 100px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin-left: 90px;
    color: #ffffff;
    font-style: normal;
  font-weight: normal;
  }
  .Author {
    margin-top: 30px;
    font-size: 12px;
  }
  .shap {
    margin-left: 400px;
  }